header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2430;
}

.header-h3 {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
}

#form {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

#city-input {
  border: auto;
  border-radius: 2px;
  outline: none;
  min-width: 250px;
  font-size: 1.075rem;
  background-color: transparent;
  color: var(--color-text);
}

.card {
  display: flex;
  font-size: 0.9rem;
  flex-direction: column;
  border-radius: 7.5px;
  padding: 10px 1rem;
  margin: 5px;
  gap: 15px;
  background-color: #1f2430;
}

.top-row {
  display: flex;
  gap: 10px;
}
